/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #000;
    background-color: #1DB954;
    text-shadow: none; /* Prevent inheritance from `body` */
    text-align: center;
    line-height: 50%;
}

.cover-container {
    max-width: 55em;
  }
.px-3 {
    background-color: black;
    background:rgba(0,0,0,0.4);
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    flex: 0 0 100%;
}

body{
    background: url(https://images.unsplash.com/photo-1617803021651-8df9d37672a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2031&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset -300px 0px 100px -90px  rgba(0, 0, 0, .7), inset 300px 0px 100px -90px  rgba(0, 0, 0, .7);
}
  
/*
 * Header
 */

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.555);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  